body{
    background-color:bisque;
    font-family: gibsonregular,gibson,"Trebuchet MS",Helvetica,Arial,sans-serif;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  #img-front-end{
    height:auto;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;

  }
  nav a{
    color: white;
  }
 #head-blog{
  text-decoration:none  ;
 }

 
 #div-container{
  padding-bottom: 30px;
 }
footer{
  background-color: white;
  text-align: center;
}
/* html.a.html */
#container-1{
    height: 300px;
    width:30%;
    
  }
  #container-2{
    height: 300px;
    width: 70%;
    background-color: burlywood;;
    padding: 60px;
  }
  #main-container{
    display: flex;
    padding-bottom: 40px;
  }
  #img1{
     height: 300px;
     width: 100%;
  }
  .heading{
    text-align: center;
  }
  .para{
    text-align: center;
    
  }
  .para2{
    margin-top: px;
  }
  #table{
    width: 60%;
  }
  
  nav a{
   color: white;
  }
  #head-blog{
    text-decoration:none  ;
  }
/* css.html */

  #img2{
    width: 100%;
    height: 300px;
  }
   
  nav a{
    color: white;
  }
  #head-blog{
   text-decoration:none  ;
  }
  #css-year-img{
    width: 70%;
  }
  .span-bleu{
    color: blue;

  }
  .span-tag{
   width: 58%; 
   height: 161px;
   background-color: #645656;
   border-radius: 20px;
   color: aliceblue;
   
  }
/* bootstrap.html */

  
  
  #img1{
     height: 300px;
     width: 100%;
  }
  .heading{
    text-align: center;
  }
  .para{
    text-align: center;
    
  }
  nav a{
  color: white;
  }
  #head-blog{
   text-decoration:none  ;
  }
  .img-b{
    height: auto;
    width: 800px;
    margin-left: 124px;
  }
/* java.html */

  #img1{
     height: 300px;
     width: 100%;
  }
  .heading{
    text-align: center;
  }
  .para{
    text-align: center;
  }
  .img-java{
    height:auto;
    width:100%;
    padding-bottom: 30px;
  }  

  nav a{
   color: white;
 }
 #head-blog{
  text-decoration:none  ;
 }